@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .content {
    flex-direction: row;
    height: 466px;
    border-radius: 0 30px 30px 30px;
    box-shadow: 11px 10px 20px -3px rgba(0, 0, 0, 0.1);
  }

  .result {
    border-radius: 30px;
    height: 100%;
    width: 300px;
  }

  .summary {
    width: 360px;
  }

  .attribution {
    position: fixed;
    justify-content: center;
  }
}
