* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  line-height: 150%;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000;
}

button {
  border: none;
  cursor: pointer;
}
